@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0f172a;
  --background: #f8fafc;
  --sidebar-bg: #1e293b;
}

body {
  color: var(--foreground);
  background: var(--background);
}
